.section-1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: calc(var(--header-h) + 70px);

  @include to(768px) {
    flex-direction: column-reverse;
    margin-top: calc(var(--header-h) + 30px);
  }

  .section-1-text-block {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;

    @include to(768px) {
      transform: translateY(-17%);
      z-index: 1;
    }

    &-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .section-1-title {
        @include bold-font($mc, var(--default-font-1));
        text-align: left;
      }

      .white-text {
        margin: 40px 0;
        font-size: 30px;
        width: 80%;

        @include to(768px) {
          font-size: 20px;
          margin: 20px 0 40px;
        }
      }

      .btn-style {
        margin-left: 30px;
      }
    }

    &-bottom {
      margin-top: 175px;
      align-items: center;
      justify-content: flex-start;

      p {
        @include regular-font($light-grey, 13px);
        width: 30%;
      }

      @include to(768px) {
        margin-top: 80px;

        p {
          width: 50%;
        }
      }
    }
  }

  .section-1-img-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: auto;

    @include to(768px) {
      align-items: stretch;
    }

    .section-1-img1{
      width: 490px;
      height: 306px;

      @include to(768px) {
        width: 254px;
        height: 182px;
      }
    }

    .section-1-img2 {
      width: 267px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.3));
    }

    .section-1-img3{
      width: 530px;
      height: 313px;
      margin-right: var(--field);

      @include to(768px) {
        width: 170px;
        height: 125px;
        margin-left: auto;
        transform: translateY(-20px);
      }
    }
  }
}

.section-1-vector{
  height: 55px;
  width: 55px;

  @include to(768px) {
    height: 39px;
    width: 39px;
  }
}

.section-2 {
  .white-title {
    @include to(768px) {
      margin-bottom: 60px;
    }
  }
}

.section-3 {
  &-img {
    img.border-radius {
      object-fit: cover;

      @include to(575px) {
        height: 230px;
      }
    }
  }

  .uk-pattern-2 {
    position: absolute;
    right: 0;
    top: calc((-1)*(34px/2));
    height: 34px;
    width: 420px;

    @include to(575px) {
      width: 150px;
      height: 9px;
      top: calc((-1)*(9px/2));
    }
  }
}

.section-4-block {
  align-items: center;
  justify-content: space-between;
}

.section-partner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .white-title {
    text-align: center;
    margin-bottom: 60px;
  }
}

.section-partner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.section-partner-card {
  height: 190px;
  width: 190px;
  background-image: url(../images/home/back/2.svg);
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(18px);
  border-radius: 100px;
  position: relative;
  overflow: hidden;

  @include to(768px){
    height: 150px;
    width: 150px;
    background: url(../images/home/back/mob-2-2.svg) center no-repeat;
  }

  span {
    @include bold-font($wc, var(--default-font-4));
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include to(768px) {
      font-size: 20px;
    }
  }
}

.partner-swiper-wrapper {
  margin: 60px 0;
}

.section-5 {
  &-card {
    background-image: url(../images/home/back/3.svg);
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(21px);
    border-radius: 40px;
    background-size: cover;

    padding: 60px;
    z-index: 1;

    @include to(768px) {
      padding: 20px;
      border-radius: 20px;
      background-image: url(../images/home/back/3-2.svg);
    }

    &-top {
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 110px;

      .white-title {
        width: 60%;
      }

      @include to(768px) {
        flex-direction: column-reverse;
        align-items: stretch;
        margin-bottom: 100px;

        .white-title {
          width: 100%;
          margin-top: 40px;
        }

        .section-5-card-top-info {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }
      }
    }

    &-bottom {
      margin-top: 70px;
      justify-content: space-between;
      align-items: center;

      @include to(768px) {
        margin-top: 20px;
        flex-direction: column;
        align-items: stretch;

        .white-title {
          margin-bottom: 70px;
        }
      }

      .white-title {
        span {
          margin-left: 15px;
        }
      }

      .row {
        align-items: center;
        justify-content: flex-end;

        @include to(768px) {
          justify-content: space-between;
        }

        .regular-text {
          width: 45%;
          margin-right: 25px;

          @include to(768px) {
            width: 70%;
            margin-right: 0;
          }
        }

        .partners-num {
          border: 1px solid $wc;
          border-radius: 100%;
          height: 66px;
          width: 66px;

          display: flex;
          align-items: center;
          justify-content: center;

          @include to(768px) {
            height: 37px;
            width: 37px;
          }
        }
      }
    }
  }

  .payment-progress {
    height: 12px;
    width: 100%;
    background: linear-gradient(270deg, rgba(38, 49, 69, 0.18) 0%, rgba(31, 45, 69, 0.18) 103.5%);
    border-radius: 30px;
    margin-top: 30px;

    .real-payment {
      position: absolute;
      left: 0;
      top: 0;
      height: 12px;
      width: 1%;
      background: $mc2;
    }
  }

  .uk-pattern-3 {
    position: absolute;
    top: 25%;
    right: -25px;
    z-index: -1;
    height: 152px;
    width: 147px;

    @include to(768px) {
      height: 52px;
      width: 49px;
      right: -17px;
    }
  }

  .uk-pattern-4 {
    position: absolute;
    bottom: -40px;
    right: 30%;
    z-index: -1;
    height: 107px;
    width: 104px;
  }
}

.section-6, .section-8 {
  .faq-cards-wrapper, .donate-cards-wrapper {
    margin-top: 80px;
    justify-content: space-between;
    align-items: flex-start;

    @include to(768px) {
      margin-top: 60px;
    }

    .col {
      width: 50%;

      @include to(768px) {
        width: 100%;
      }

      .faq-card, .donate-card {
        margin-bottom: 20px;
      }

      &:nth-child(odd) {
        margin-right: 10px;

        @include to(768px) {
          margin-right: 0;
        }

        .faq-card, .donate-card {
          &:last-child {
            margin-bottom: 0;

            @include to(768px) {
              margin-bottom: 20px;
            }
          }
        }
      }

      &:nth-child(even) {
        margin-left: 10px;

        @include to(768px) {
          margin-left: 0;
        }

        .faq-card, .donate-card {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .faq-card {
      border: 1px solid #6B9CF0;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
      backdrop-filter: blur(21px);
      border-radius: 5px;
      position: relative;
      padding: 30px;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      transform: translateY(-50%);
      transition: transform .5s ease-in-out;

      .fag-card-text {
        justify-content: space-between;
        align-items: center;

        .bold-text {
          font-size: var(--default-font-4);
          text-align: left;
          margin-bottom: 0;
          width: 90%;
        }

        .faq-card-icon {
          height: 10px;
          width: 19px;
          transform: rotate(180deg);
          transition: transform .3s ease-in-out;
        }

        .faq-card-icon.faq-card-icon-rotate {
          transform: rotate(0deg);
          transition: transform .3s ease-in-out;
        }
      }

      .regular-text {
        text-align: left;
        margin-top: 35px;

        a {
          margin: 0 .5em;
          color: $wc;
        }
      }
    }

    .donate-card.donate-pay {
      @include to(768px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .donate-btn {
          margin-top: 25px;
        }
      }
    }

    .donate-card {
      border: 1px solid #6B9CF0;
      filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
      backdrop-filter: blur(21px);
      border-radius: 5px;
      padding: 25px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      @include to(768px) {
        padding: 25px 20px;
        align-items: flex-end;

        .donate-card-text {
          width: 80%;
        }
      }

      .yellow-title {
        @include bold-font($mc2, var(--default-font-4));
        margin-bottom: 15px;

        @include to(768px) {
          font-size: 16px;
        }
      }

      .white-text {
        @include bold-font($wc, var(--default-font-6));
        word-break: break-word;
      }

      button {
        background: transparent;
        border: none;
      }

      .donate-card-background {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: #161616;
        border-radius: 5px;

        @include to(768px) {
          padding: 15px;
        }

        .donate-card-pay {
          display: flex;
          align-items: center;
          padding-left: 17px;

          @include to(768px) {
            padding-left: 0;
          }
        }

        .google-apple-pay {
          margin-left: 42px;
          display: flex;
          align-items: center;

          @include to(768px) {
            margin-left: 22px;
          }

          .white-text {
            margin: 0 .5em;
          }
        }
      }
    }
  }
}

.section-4-block-mob {
  display: none;
}

@include from(768px) {
  .mobile {
    display: none;
  }
}

@include to(768px) {
  .desktop {
    display: none;
  }

  .section-4-block-mob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .display-none {
    display: none;
  }
}

.swiper-2 .swiper-pagination-bullets{
  bottom: -30px;
  width: auto;
}

.swiper-1 .swiper-pagination-bullets {
  bottom: 20px;
  width: auto;
}

.swiper-about  .swiper-pagination-bullets {
  bottom: -50px;
  width: auto;
}


.swiper-pagination-bullet {
  background: #20304C;
  height: 5px;
  width: 5px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $mc;
}

.swiper-slide.faq-card.swiper-slide-active, .swiper-slide.faq-card.swiper-slide-prev {
  transform: translateY(0);
  transition: transform .5s ease-in-out;
}
