footer.footer
    .footer-top-wrapper.field.row
        .left-block30
            img(src="assets/images/big-logo.svg").footer-logo
        .right-block70.row
            .footer-top-right-block.col
                .block
                    .regular-text Волонтерський бізнес-рух небайдужих підприємців, що підтримують відновлення мирної України
                    a(href="#" data-help-btn).header-btn.desktop
                        span Підтримати команду
                .block
                    .regular-text Стань нашим координатором
                    a(href="#" data-join-btn).btn-style
                        span Приєднатися до команди
            .footer-top-left-block.col
                .block
                    ul.nav-list
                        li
                            a(href="#").regular-text Наша ініціатива
                        li
                            a(href="#").regular-text Учасники
                        li
                            a(href="#").regular-text Зворотній зв'язок
                        li
                            a(href="#").regular-text FAQ
                .block
                    .bold-text Контакти
                    .email-text help@reukraine.com


    .footer-bottom-wrapper.field
        img(src="assets/images/vector-5.svg")
        .footer-bottom
            .footer-bottom-left.row
                .white-text © 2022
                .footer-bottom-left-text Політика конфіденційності
            ul.social-network.row
                li
                    a(href="#").white-text patreon
                li
                    a(href="#").white-text FACEBOOK
                li
                    a(href="#").white-text INSTAGRAM


