footer.footer
    .footer-top-wrapper.field.row.column
        .left-block30
            img(src="assets/images/big-logo.svg").footer-logo
        .right-block70.row.column.top-mob-footer-margin
            .footer-top-right-block.col
                .block.block-mob-1
                    .regular-text Волонтерський бізнес-рух небайдужих підприємців, що підтримують відновлення мирної України
                    a(href="https://www.patreon.com/reukraine").header-btn.mob-font-size
                        span Підтримати команду
                .block.block-mob-1
                    .regular-text Стань нашим координатором
                    a(data-open-form).btn-style.mob-font-size
                        span Приєднатися до команди
            .footer-top-left-block.col.mob-row
                .block
                    ul.nav-list
                        li
                            a(href="about.html").regular-text Наша ініціатива
                        li
                            a(href="partners.html").regular-text Учасники
                        li
                            a(href="mailto:help@reukraine.com").regular-text Зворотній зв'язок
                        li
                            a(a href="#" target="_blank").regular-text FAQ
                .block
                    .bold-text Контакти
                    a(href="mailto:help@reukraine.com").email-text help@reukraine.com


    .footer-bottom-wrapper.field
        img(src="assets/images/vector-5.svg").desktop
        img(src="assets/images/vector-mob-5.svg").mobile
        .footer-bottom.column-reverse
            .footer-bottom-left.row.column-reverse
                .white-text © 2022
                .footer-bottom-left-text Політика конфіденційності
            ul.social-network.row
                li
                    a(href="https://www.patreon.com/reukraine").white-text patreon
                li
                    a(href="https://www.facebook.com/reukraine.real").white-text FACEBOOK
                li
                    a(href="https://instagram.com/reukraine.real").white-text INSTAGRAM


