header.header.field.row
    .left-block30.row
        a(href="index.html").header-logo
            img(src="assets/images/logo.svg")
    .right-block70.row
        ul.header-nav.row
            li
                a(href="index.html") Наша ініціатива
            li
                a(href="index.html") Учасники
            li
                a(href="index.html") Зворотній зв'язок

        a(href="#" data-help-btn).header-btn.desktop
            span Підтримати команду

        .header-menu-icon(data-open-menu)


