.header-menu(data-menu)
    .header-menu-close-icon(data-close-menu)
    .header-menu-wrapper
        .header-menu-top
            a(href="index.html").header-big-logo
                img(src="assets/images/big-logo.svg")
            ul.header-menu-nav
                li
                    a(href="index.html") Наша ініціатива
                li
                    a(href="index.html") Учасники
                li
                    a(href="index.html") Зворотній зв'язок
        .header-menu-bottom
            .grey-text Волонтерський бізнес-рух небайдужих підприємців, що підтримують відновлення мирної України
            a(href="#").header-btn
                span Підтримати команду



