
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'home'
    var class_page = 'home'


block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/animation.js')
block content
  .section-margin-bottom.section-1.mobile-absolute-margin
    .row.field.mobile-block.desktop
      .left-block30
        .relative.card-width
          .section-1-info-card
            .white-text Перераховуй 1% від продажів твого бізнесу до офіційних фондів відновлення України
            a(href="#" data-join-btn).btn-style
              span Приєднатися
          .uk-pattern
            img(src="assets/images/uk_vector.svg")
      .right-block70.row
        .section-1-title Україна потребує допомоги!
        .grey-text Волонтерський бізнес-рух небайдужих підприємців, що підтримують відновлення мирної України
    .row.left-field.desktop
      .left-block30.row
        img(src="assets/images/vector.svg").section-1-vector
        img(src="assets/images/vector-2.svg").section-1-vector
      .right-block70.row
        img(src="assets/images/home/1.png").section-1-img1.border-radius
        img(src="assets/images/home/2.png").section-1-img2.border-radius

    .mobile-background.left-field
      img(src="assets/images/home/2.png").border-radius.mob-margin-1.mob-img-width-1
      .row.mob-row
        img(src="assets/images/home/1.png").border-radius.mob-img-width-2
        .left-block30.row.mob-img-block
          img(src="assets/images/vector.svg").section-1-vector
          img(src="assets/images/vector-2.svg").section-1-vector
      .mobile-block
        .section-1-title Україна потребує допомоги!
        .relative.card-width
          .section-1-info-card
            .white-text Перераховуй 1% від продажів твого бізнесу до офіційних фондів відновлення України
            a(href="#" data-join-btn).btn-style
              span Приєднатися
          .uk-pattern
            img(src="assets/images/uk_vector.svg")

  .section-margin-bottom.section-2
    .row.field
      .right-block70
        .section-2-title
          .yellow-title  Стань частиною
          .white-title нової історії України
        ul.section-list
          li 01
            .light-grey-text Додай цінності  власному бренду
          li 02
            .light-grey-text Надихни свою команду добрими справами
          li 03
            .light-grey-text Отримай лояльних клієнтів та збільшуй продажі
          li 04
            .light-grey-text Увійди до віртуальної  алеї слави (скоро буде)

  .section-margin-bottom.section-3
    .field
      .section-3-img.relative
        img(src="assets/images/home/3.png").border-radius
        .uk-pattern-2
          img(src="assets/images/vector-3.svg")

  .section-margin-bottom.section-4.field
    .section-4-block-mob
      .white-title Наші учасники
      .partner-swiper.section-partner
        .swiper-wrapper
          a(href="#").section-partner-card.swiper-slide.first-partner-card
            span.first-partner Будь першим
            img(src="assets/images/home/back/2-2.svg")
          a(href="#").section-partner-card.swiper-slide.default-partner-card
            img(src="assets/images/home/back/2-2.svg")
          a(href="#").section-partner-card.swiper-slide.default-partner-card
            img(src="assets/images/home/back/2-2.svg")
          a(href="#").section-partner-card.swiper-slide.default-partner-card
            img(src="assets/images/home/back/2-2.svg")
        .swiper-pagination


      a(href="#" data-join-btn).btn-style
        span Приєднатися
    .section-4-block.row.desktop
      .section-partner
        a(href="#").section-partner-card.first-partner-card
          span.first-partner Будь першим
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
      .section-partner-text
        .white-title Наші учасники
        a(href="#" data-join-btn).btn-style
          span Приєднатися
      .section-partner
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")

  .section-margin-bottom.section-5
    .field
      .relative
        .section-5-card
          .section-5-card-top.row
            .white-title Вже перерахували до Уряду України
            .section-5-card-top-info
              .bold-text(data-last-update) 26.03.22
              .regular-text останні оновлення
          .section-5-card-middle
            .row
              img(src="assets/images/vector.svg").section-1-vector
              img(src="assets/images/vector-2.svg").section-1-vector
            .payment-progress.relative
              .real-payment(data-payment-progress)
          .section-5-card-bottom.row
            .white-title $
              span(data-payment-num) 0
            .row
              .regular-text кількість компаній, що приєдналися
              .bold-text.partners-num(data-partners-num) 0
        .uk-pattern-3
          img(src="assets/images/uk_vector.svg")
        .uk-pattern-4
          img(src="assets/images/uk_vector.svg")
  .section-margin-bottom.section-6
    .field
      .white-title Хочу перераховувати
        <svg class="text-svg" width="59" height="54" viewBox="0 0 59 54" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_93_228)">
            <path d="M29.0065 4.97749C25.8199 1.79121 21.4982 0.0012207 16.9919 0.0012207C12.4856 0.0012207 8.16382 1.79121 4.97725 4.97749C1.79097 8.16406 0.000976563 12.4859 0.000976562 16.9921C0.000976562 21.4984 1.79097 25.8201 4.97725 29.0066L5.18153 29.2051L29.1932 53.2109V5.14673L29.0065 4.97749Z" fill="#6B9CF0"/>
            <path d="M53.3625 5.02998C50.1759 1.8437 45.8542 0.0537109 41.3479 0.0537109C36.8417 0.0537109 32.5199 1.8437 29.3333 5.02998L29.1816 5.1817V53.2458L53.3684 29.065C54.9465 27.4866 56.1983 25.6128 57.0522 23.5506C57.906 21.4884 58.3452 19.2782 58.3446 17.0462C58.3441 14.8142 57.9038 12.6043 57.0489 10.5425C56.1941 8.48068 54.9415 6.60754 53.3625 5.02998Z" fill="#6B9CF0"/>
          </g>
          <defs>
            <clipPath id="clip0_93_228">
              <rect width="58.3633" height="53.24" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        | 1% від продажів
        <svg class="text-svg" width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="36" cy="36" r="36" fill="#FFD801"/>
          <path d="M34.4484 60.2469C31.8621 58.2294 29.9548 55.2197 29.3405 51.7139H21V14.8366C25.4935 17.1187 28.694 22.179 29.0819 27.4046L30.3427 37.7568L29.7284 37.6576C28.3707 37.6576 27.2069 38.9475 27.2069 40.2373C27.2069 41.4278 28.112 42.4532 29.2759 42.7177L30.7952 43.0815C33.3167 38.2197 34.7393 33.4573 34.7393 28.7606C34.7393 24.5272 34.1896 20.3269 34.1249 16.0273C34.1249 14.109 34.8363 12.3561 36.0001 11C37.1639 12.3892 37.8751 14.109 37.8751 16.0273C37.8751 20.3269 37.2609 24.5603 37.2609 28.7606C37.2609 33.4241 38.6832 38.2197 41.2049 43.0815L42.7242 42.7177C43.888 42.4532 44.7932 41.4278 44.7932 40.2373C44.7932 38.9475 43.6294 37.6576 42.2716 37.6576L41.6575 37.7568L42.918 27.4046C43.5324 22.179 46.5067 17.1187 51 14.8366V51.7139H42.6595C42.0454 55.1868 40.2349 58.3288 37.5518 60.2469C36.9374 60.7101 36.388 61.2724 36.0324 62C35.6122 61.2391 35.0625 60.7101 34.4484 60.2469ZM24.9439 38.9806C25.2995 37.5915 26.3017 36.4005 27.5302 35.6732L26.528 27.1401C26.1724 24.4942 25.1056 22.1128 23.4892 20.1615V38.9475H24.9439V38.9806ZM29.1789 49.1342C29.1789 47.8443 29.3728 46.6538 29.6315 45.463L28.4676 45.1984C26.7543 44.6362 25.4289 43.2802 24.9763 41.5272H23.5538V49.1342H29.1789ZM34.707 49.1342C34.707 47.5798 33.5432 46.1906 32.0239 46.0251C31.765 47.0173 31.5711 48.0426 31.5711 49.1342H34.707ZM34.707 51.7139H31.9268C32.3795 53.7314 33.349 55.5503 34.707 57.1379V51.7139ZM38.6509 43.743C37.5842 41.7255 36.5818 39.609 35.9678 37.426C35.3533 39.6418 34.3514 41.7255 33.2847 43.743C34.3514 44.0076 35.2566 44.7352 35.9678 45.5622C36.6789 44.7352 37.5842 44.0076 38.6509 43.743ZM40.3643 49.1342C40.3643 48.0426 40.1702 47.0173 39.9117 46.0251C38.3924 46.2238 37.2286 47.5798 37.2286 49.1342H40.3643ZM40.0088 51.7139H37.2286V57.1379C38.5862 55.5503 39.5561 53.7314 40.0088 51.7139ZM48.4463 49.1342V41.5272H47.0237C46.5711 43.2802 45.2458 44.6362 43.5324 45.1984L42.3686 45.463C42.6272 46.6538 42.8213 47.8443 42.8213 49.1342H48.4463ZM48.4463 20.1945C46.8299 22.1128 45.6662 24.4942 45.4073 27.1731L44.4053 35.7061C45.6662 36.4338 46.6358 37.6243 46.9913 39.0136H48.4463V20.1945Z" fill="black"/>
        </svg>
        |до державного фонду відновлення України

      .row.column
        a(href="#").btn-style
          span Donate by Direct Bank Transfer / Swift
        a(href="#").header-btn
          span Donate by crypto
  .section-margin-bottom.section-7
    .row.field.column
      .left-block30
        .yellow-title Як це працює
      .right-block70
        ul.section-list
          li 01
            .light-grey-text Заповни анкету
          li 02
            .light-grey-text Отримай інструкцію  на свій E-mail
          li 03
            .light-grey-text Розкажи всім  у соціальних мережах
          li 04
            .light-grey-text Надішли 1% на офіційні рахунки України
  .section-margin-bottom.section-8
    .field
      .white-title FAQ
      .faq-cards-wrapper.row.desktop
        .col
          .faq-card
            .fag-card-text.row
              .bold-text Як стати учасником волонтерського  бізнес-руху ReUkraine?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text Заповни анкету на сайті
              a(href="http://www.reukraine.com") http://www.reukraine.com
              | та отримай листа із детальною інформацією.

          .faq-card
            .fag-card-text.row
              .bold-text Чому я маю приєднуватися до волонтерського бізнес-руху ReUkraine?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text text

          .faq-card
            .fag-card-text.row
              .bold-text Як я можу допомогти команді ReUkraine?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text text

        .col
          .faq-card
            .fag-card-text.row
              .bold-text Де я можу побачити статистику переказів  на відновлення України?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text text

          .faq-card
            .fag-card-text.row
              .bold-text Коли на сайті з’явиться інформація про участь мого бізнеса у волонтерському русі?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text text

          .faq-card
            .fag-card-text.row
              .bold-text Як стати координатором ReUkraine?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text text


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
