
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'home'
    var class_page = 'home'


block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/home.js')
  script(defer src='./assets/scripts/animation.js')
block content
  .section-margin-bottom.section-1.left-field
    .section-1-text-block.block50
      .section-1-text-block-top
        .section-1-title Підтримай Україну
        .white-text Перерахуй 1% від продажiв свого бізнесу
        .row
          a(href="#").header-btn
            span Donate
          a(href="#join").btn-style
            span Приєднатися
      .section-1-text-block-bottom.row
        .margin30
          <svg class="section-1-vector" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.02697 5.02551L5.02549 5.02698C3.02584 7.02209 1.98495 9.57512 1.4542 13.19C0.918905 16.8359 0.916667 21.4453 0.916667 27.4949C0.916667 33.5447 0.918905 38.1542 1.45421 41.8014C1.98496 45.4175 3.02594 47.9735 5.02622 49.9738L5.02697 49.9747C7.02206 51.9742 9.57501 53.0153 13.19 53.5459C16.8359 54.0811 21.4452 54.0835 27.4949 54.0835C33.5447 54.0835 38.154 54.0811 41.8012 53.5459C45.4174 53.0153 47.9732 51.9742 49.9737 49.9738C51.974 47.9735 53.0151 45.4197 53.5456 41.8051C54.0808 38.1593 54.0832 33.5497 54.0832 27.4949C54.0832 21.4403 54.0808 16.8309 53.5456 13.1851C53.0151 9.57038 51.974 7.01672 49.9737 5.01627C47.9734 3.02094 45.4198 1.98251 41.8051 1.453C38.1591 0.918899 33.5495 0.916668 27.4949 0.916668C21.4402 0.916668 16.8309 0.918915 13.1863 1.4542C9.57286 1.98491 7.02221 3.0257 5.02697 5.02551ZM50.6218 4.3681C54.9998 8.74616 55 15.4379 55 27.4949C55 39.5522 54.9998 46.244 50.6218 50.6221C46.2437 55 39.5421 55 27.4949 55C15.4478 55 8.74609 55 4.37806 50.6221C0 46.244 0 39.5422 0 27.4949C0 15.4479 0 8.74616 4.37806 4.37806C8.74609 0 15.4378 0 27.4949 0C39.5521 0 46.2437 0 50.6218 4.3681Z" fill="white"/>
            <path d="M26.8622 44.7281C24.9655 43.2644 23.5668 41.0809 23.1164 38.5375H17V11.7834C20.2953 13.4391 22.6422 17.1103 22.9267 20.9014L23.8513 28.4118L23.4009 28.3398C22.4052 28.3398 21.5517 29.2756 21.5517 30.2113C21.5517 31.0751 22.2155 31.819 23.069 32.0109L24.1832 32.2748C26.0322 28.7476 27.0755 25.2926 27.0755 21.8852C27.0755 18.8139 26.6724 15.7666 26.625 12.6472C26.625 11.2555 27.1467 9.98385 28.0001 9C28.8535 10.0078 29.375 11.2555 29.375 12.6472C29.375 15.7666 28.9247 18.8378 28.9247 21.8852C28.9247 25.2684 29.9677 28.7476 31.8169 32.2748L32.9311 32.0109C33.7845 31.819 34.4483 31.0751 34.4483 30.2113C34.4483 29.2756 33.5949 28.3398 32.5991 28.3398L32.1488 28.4118L33.0732 20.9014C33.5237 17.1103 35.7049 13.4391 39 11.7834V38.5375H32.8836C32.4333 41.0571 31.1056 43.3365 29.138 44.7281C28.6874 45.0642 28.2845 45.4721 28.0238 46C27.7156 45.448 27.3125 45.0642 26.8622 44.7281ZM19.8922 29.2997C20.153 28.2918 20.8879 27.4278 21.7888 26.9002L21.0539 20.7095C20.7931 18.7899 20.0108 17.0622 18.8254 15.6466V29.2756H19.8922V29.2997ZM22.9979 36.666C22.9979 35.7302 23.1401 34.8665 23.3298 34.0025L22.4763 33.8106C21.2198 33.4028 20.2479 32.419 19.9159 31.1472H18.8728V36.666H22.9979ZM27.0518 36.666C27.0518 35.5383 26.1984 34.5304 25.0842 34.4104C24.8943 35.1302 24.7521 35.8741 24.7521 36.666H27.0518ZM27.0518 38.5375H25.013C25.3449 40.0012 26.0559 41.3208 27.0518 42.4726V38.5375ZM29.944 32.7547C29.1617 31.291 28.4267 29.7555 27.9764 28.1718C27.5258 29.7794 26.791 31.291 26.0088 32.7547C26.791 32.9467 27.4548 33.4746 27.9764 34.0746C28.4978 33.4746 29.1617 32.9467 29.944 32.7547ZM31.2005 36.666C31.2005 35.8741 31.0581 35.1302 30.8686 34.4104C29.7544 34.5545 28.901 35.5383 28.901 36.666H31.2005ZM30.9398 38.5375H28.901V42.4726C29.8965 41.3208 30.6078 40.0012 30.9398 38.5375ZM37.1273 36.666V31.1472H36.0841C35.7521 32.419 34.7803 33.4028 33.5237 33.8106L32.6703 34.0025C32.8599 34.8665 33.0023 35.7302 33.0023 36.666H37.1273ZM37.1273 15.6706C35.942 17.0622 35.0885 18.7899 34.8987 20.7334L34.1639 26.9241C35.0885 27.452 35.7996 28.3157 36.0603 29.3236H37.1273V15.6706Z" fill="white"/>
          </svg>
        .margin30
          <svg class="section-1-vector" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M50.2712 50.2712C48.1865 52.3559 45.5347 53.4205 41.868 53.9584C38.1845 54.4988 33.5395 54.5 27.5 54.5C21.4605 54.5 16.8155 54.4988 13.132 53.9584C9.46529 53.4205 6.81346 52.3559 4.7288 50.2712C2.64415 48.1865 1.57953 45.5347 1.04161 41.868C0.50122 38.1845 0.5 33.5395 0.5 27.5C0.5 21.4605 0.50122 16.8155 1.04161 13.132C1.57953 9.46529 2.64415 6.81346 4.7288 4.7288C6.81346 2.64415 9.46529 1.57953 13.132 1.04161C16.8155 0.50122 21.4605 0.5 27.5 0.5C33.5395 0.5 38.1845 0.50122 41.868 1.04161C45.5347 1.57953 48.1865 2.64415 50.2712 4.7288C52.3559 6.81349 53.4205 9.46439 53.9584 13.1305C54.4988 16.8136 54.5 21.4586 54.5 27.5C54.5 33.5414 54.4988 38.1864 53.9584 41.8695C53.4205 45.5356 52.3559 48.1865 50.2712 50.2712Z" fill="#121212" stroke="white"/>
            <path d="M37.8284 22.0627C35.7499 22.0627 34.2099 23.6665 34.2099 25.6449C34.2099 27.2608 35.3462 28.5214 36.7839 28.8943L33.8359 33.4103H36.5898L39.095 29.205H40.9705V33.4081H43.2695V22.0627H37.8284ZM38.1446 27.2877C37.1992 27.2877 36.6134 26.5458 36.6134 25.6999C36.6134 24.854 37.1502 24.0499 38.1446 24.0499H40.9749V27.2894L38.1446 27.2877Z" fill="white"/>
            <path d="M25.239 22.0627L24.4751 24.1632L27.6057 24.145L25.7527 30.9447C25.2242 32.9247 27.2927 34.4256 29.0527 33.2596L33.0628 30.5388L31.883 28.8035L27.8779 31.5783L30.5779 22.0633L25.239 22.0627Z" fill="white"/>
            <path d="M29.5564 20.6036C30.4364 20.6036 31.147 19.9617 31.147 19.1703C31.147 18.3788 30.4348 17.7375 29.5564 17.7375C28.6781 17.7375 27.9658 18.3788 27.9658 19.1703C27.9658 19.9617 28.6781 20.6036 29.5564 20.6036Z" fill="white"/>
            <path d="M21.4421 31.3154V19.4255H12.6207V25.7714C12.6207 28.7574 11.7561 30.6037 11.2457 31.3105H10.2007V36.4964H12.4375V33.4307H20.8019V36.5019H23.0377V31.3154H21.4421ZM14.8449 25.6411V21.5348H19.1481V31.3088H13.5931C14.0969 30.4849 14.8449 28.3883 14.8449 25.6411Z" fill="white"/>
          </svg>
        p Verified Ukraine Donations List
    .section-1-img-block.block50.relative
      img(src="assets/images/home/1-1.png").section-1-img1.border-radius
      img(src="assets/images/home/1-2.png").section-1-img2.border-radius.display-none
      img(src="assets/images/home/1-3.png").section-1-img3.border-radius

  .section-margin-bottom.section-2
    .row.field.column
      .left-block30
        .white-title Як це працює
      .right-block70
        ul.section-list
          li 01
            .light-grey-text Заповни анкету
          li 02
            .light-grey-text Отримай інструкцію  з матеріалами на свій E-mail
          li 03
            .light-grey-text Розмісти отримані матеріали офлайн  та онлайн
          li 04
            .light-grey-text Надішли 1% на офіційні рахунки України

  .section-margin-bottom.section-3
    .field
      .section-3-img.relative
        img(src="assets/images/home/3.png").border-radius
        .uk-pattern-2
          img(src="assets/images/vector-3.svg")

  .section-margin-bottom.section-4.field
    .section-4-block-mob
      .white-title Наші учасники
      .section-partner.mobile
        .swiper-1.swiper.relative
          .swiper-wrapper.partner-swiper-wrapper
            a(href="#").swiper-slide.section-partner-card.first-partner-card
              span.first-partner Будь першим
              img(src="assets/images/home/back/2-2.svg")

            a(href="#").swiper-slide.section-partner-card.default-partner-card
              img(src="assets/images/home/back/2-2.svg")

            a(href="#").swiper-slide.section-partner-card.default-partner-card
              img(src="assets/images/home/back/2-2.svg")

            a(href="#").swiper-slide.section-partner-card.default-partner-card
              img(src="assets/images/home/back/2-2.svg")

          .swiper-pagination

      a(data-open-form).btn-style
        span Приєднатися
    .section-4-block.row.desktop
      .section-partner
        a(href="#").section-partner-card.first-partner-card
          span.first-partner Будь першим
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
      .section-partner-text
        .white-title Наші учасники
        a(data-open-form).btn-style
          span Приєднатися
      .section-partner
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")
        a(href="#").section-partner-card.default-partner-card
          img(src="assets/images/home/back/2-2.svg")

  .section-margin-bottom.section-5
    .field
      .relative
        .section-5-card
          .section-5-card-top.row
            .white-title Вже перерахували до Уряду України
            .section-5-card-top-info
              .bold-text(data-last-update) 26.03.22
              .regular-text останні оновлення
          .section-5-card-middle
            .row
              <svg class="section-1-vector margin30" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.02697 5.02551L5.02549 5.02698C3.02584 7.02209 1.98495 9.57512 1.4542 13.19C0.918905 16.8359 0.916667 21.4453 0.916667 27.4949C0.916667 33.5447 0.918905 38.1542 1.45421 41.8014C1.98496 45.4175 3.02594 47.9735 5.02622 49.9738L5.02697 49.9747C7.02206 51.9742 9.57501 53.0153 13.19 53.5459C16.8359 54.0811 21.4452 54.0835 27.4949 54.0835C33.5447 54.0835 38.154 54.0811 41.8012 53.5459C45.4174 53.0153 47.9732 51.9742 49.9737 49.9738C51.974 47.9735 53.0151 45.4197 53.5456 41.8051C54.0808 38.1593 54.0832 33.5497 54.0832 27.4949C54.0832 21.4403 54.0808 16.8309 53.5456 13.1851C53.0151 9.57038 51.974 7.01672 49.9737 5.01627C47.9734 3.02094 45.4198 1.98251 41.8051 1.453C38.1591 0.918899 33.5495 0.916668 27.4949 0.916668C21.4402 0.916668 16.8309 0.918915 13.1863 1.4542C9.57286 1.98491 7.02221 3.0257 5.02697 5.02551ZM50.6218 4.3681C54.9998 8.74616 55 15.4379 55 27.4949C55 39.5522 54.9998 46.244 50.6218 50.6221C46.2437 55 39.5421 55 27.4949 55C15.4478 55 8.74609 55 4.37806 50.6221C0 46.244 0 39.5422 0 27.4949C0 15.4479 0 8.74616 4.37806 4.37806C8.74609 0 15.4378 0 27.4949 0C39.5521 0 46.2437 0 50.6218 4.3681Z" fill="white"/>
                <path d="M35.0764 30.3573C33.2996 34.3085 32.2056 38.6717 31.7394 43.6775H22.8392C22.6048 40.2857 22.1643 35.4274 19.9248 30.3601C19.4666 29.3281 18.9468 28.307 18.3762 27.3185C18.9539 26.2187 19.4764 25.0908 19.9328 23.9575C21.5233 20.0116 22.4737 15.8712 22.8348 11.3225H31.7421C32.1397 15.2321 33.3112 19.6921 35.0675 23.9638C35.532 25.0899 36.0544 26.2151 36.6276 27.3185C36.0588 28.3097 35.54 29.3299 35.0764 30.3573ZM37.9204 27.0162C37.3016 25.8458 36.7373 24.6418 36.2416 23.4442C34.4452 19.0775 33.2799 14.517 32.9599 10.6047C32.9305 10.2626 32.655 10 32.3224 10H22.2428C21.9102 10 21.6312 10.2671 21.6062 10.6147C21.2951 15.262 20.3617 19.4604 18.7551 23.4487C18.2701 24.6518 17.7076 25.8512 17.0808 27.0108C16.9685 27.2225 16.9738 27.4778 17.0932 27.6815C17.7182 28.727 18.2781 29.8133 18.7639 30.9104C21.0472 36.0746 21.3708 40.8777 21.6061 44.3854C21.6312 44.7312 21.9101 45 22.2427 45H32.3223C32.6549 45 32.9304 44.7384 32.9598 44.3954C33.377 39.29 34.4495 34.8815 36.2344 30.9167C36.7265 29.8196 37.29 28.7315 37.9069 27.677C38.0255 27.4761 38.0317 27.2253 37.9203 27.0162" fill="white"/>
                <path d="M33.7783 30.0954C34.1425 29.1793 34.5518 28.2676 35 27.3833C34.8789 27.1442 34.7534 26.8978 34.6243 26.6488C34.2495 25.9276 33.8596 25.1789 33.5661 24.3744C32.2984 20.8888 31.4126 17.2694 31.0174 14L24 42H30.9175C31.1527 39.4314 31.8316 34.9801 33.7783 30.0954Z" fill="white"/>
              </svg>
              <svg class="section-1-vector margin30" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.02697 5.02551L5.02549 5.02698C3.02584 7.02209 1.98495 9.57512 1.4542 13.19C0.918905 16.8359 0.916667 21.4453 0.916667 27.4949C0.916667 33.5447 0.918905 38.1542 1.45421 41.8014C1.98496 45.4175 3.02594 47.9735 5.02622 49.9738L5.02697 49.9747C7.02206 51.9742 9.57501 53.0153 13.19 53.5459C16.8359 54.0811 21.4452 54.0835 27.4949 54.0835C33.5447 54.0835 38.154 54.0811 41.8012 53.5459C45.4174 53.0153 47.9732 51.9742 49.9737 49.9738C51.974 47.9735 53.0151 45.4197 53.5456 41.8051C54.0808 38.1593 54.0832 33.5497 54.0832 27.4949C54.0832 21.4403 54.0808 16.8309 53.5456 13.1851C53.0151 9.57038 51.974 7.01672 49.9737 5.01627C47.9734 3.02094 45.4198 1.98251 41.8051 1.453C38.1591 0.918899 33.5495 0.916668 27.4949 0.916668C21.4402 0.916668 16.8309 0.918915 13.1863 1.4542C9.57286 1.98491 7.02221 3.0257 5.02697 5.02551ZM50.6218 4.3681C54.9998 8.74616 55 15.4379 55 27.4949C55 39.5522 54.9998 46.244 50.6218 50.6221C46.2437 55 39.5421 55 27.4949 55C15.4478 55 8.74609 55 4.37806 50.6221C0 46.244 0 39.5422 0 27.4949C0 15.4479 0 8.74616 4.37806 4.37806C8.74609 0 15.4378 0 27.4949 0C39.5521 0 46.2437 0 50.6218 4.3681Z" fill="white"/>
                <path d="M26.8622 44.7281C24.9655 43.2644 23.5668 41.0809 23.1164 38.5375H17V11.7834C20.2953 13.4391 22.6422 17.1103 22.9267 20.9014L23.8513 28.4118L23.4009 28.3398C22.4052 28.3398 21.5517 29.2756 21.5517 30.2113C21.5517 31.0751 22.2155 31.819 23.069 32.0109L24.1832 32.2748C26.0322 28.7476 27.0755 25.2926 27.0755 21.8852C27.0755 18.8139 26.6724 15.7666 26.625 12.6472C26.625 11.2555 27.1467 9.98385 28.0001 9C28.8535 10.0078 29.375 11.2555 29.375 12.6472C29.375 15.7666 28.9247 18.8378 28.9247 21.8852C28.9247 25.2684 29.9677 28.7476 31.8169 32.2748L32.9311 32.0109C33.7845 31.819 34.4483 31.0751 34.4483 30.2113C34.4483 29.2756 33.5949 28.3398 32.5991 28.3398L32.1488 28.4118L33.0732 20.9014C33.5237 17.1103 35.7049 13.4391 39 11.7834V38.5375H32.8836C32.4333 41.0571 31.1056 43.3365 29.138 44.7281C28.6874 45.0642 28.2845 45.4721 28.0238 46C27.7156 45.448 27.3125 45.0642 26.8622 44.7281ZM19.8922 29.2997C20.153 28.2918 20.8879 27.4278 21.7888 26.9002L21.0539 20.7095C20.7931 18.7899 20.0108 17.0622 18.8254 15.6466V29.2756H19.8922V29.2997ZM22.9979 36.666C22.9979 35.7302 23.1401 34.8665 23.3298 34.0025L22.4763 33.8106C21.2198 33.4028 20.2479 32.419 19.9159 31.1472H18.8728V36.666H22.9979ZM27.0518 36.666C27.0518 35.5383 26.1984 34.5304 25.0842 34.4104C24.8943 35.1302 24.7521 35.8741 24.7521 36.666H27.0518ZM27.0518 38.5375H25.013C25.3449 40.0012 26.0559 41.3208 27.0518 42.4726V38.5375ZM29.944 32.7547C29.1617 31.291 28.4267 29.7555 27.9764 28.1718C27.5258 29.7794 26.791 31.291 26.0088 32.7547C26.791 32.9467 27.4548 33.4746 27.9764 34.0746C28.4978 33.4746 29.1617 32.9467 29.944 32.7547ZM31.2005 36.666C31.2005 35.8741 31.0581 35.1302 30.8686 34.4104C29.7544 34.5545 28.901 35.5383 28.901 36.666H31.2005ZM30.9398 38.5375H28.901V42.4726C29.8965 41.3208 30.6078 40.0012 30.9398 38.5375ZM37.1273 36.666V31.1472H36.0841C35.7521 32.419 34.7803 33.4028 33.5237 33.8106L32.6703 34.0025C32.8599 34.8665 33.0023 35.7302 33.0023 36.666H37.1273ZM37.1273 15.6706C35.942 17.0622 35.0885 18.7899 34.8987 20.7334L34.1639 26.9241C35.0885 27.452 35.7996 28.3157 36.0603 29.3236H37.1273V15.6706Z" fill="white"/>
              </svg>
            .payment-progress.relative
              .real-payment(data-payment-progress)
          .section-5-card-bottom.row
            .white-title $
              span(data-payment-num) 0
            .row
              .regular-text кількість компаній, що приєдналися
              .bold-text.partners-num(data-partners-num) 0
        .uk-pattern-3
          img(src="assets/images/uk_vector.svg")
        .uk-pattern-4
          img(src="assets/images/uk_vector.svg")
  .section-margin-bottom.section-6#join
    .field
      .white-title Donate в один клік
      .donate-cards-wrapper.row.column
        .col
          .donate-card
            .donate-card-text
              .yellow-title Bitcoin
              #copy1.white-text 357a3So9CbsNfBBgFYACGvxxS6tMaDoa1P
            button(onclick="copy('#copy1')")
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 24.375C22.5 25.3696 22.1049 26.3234 21.4016 27.0266C20.6984 27.7299 19.7446 28.125 18.75 28.125H5.625C4.63044 28.125 3.67661 27.7299 2.97335 27.0266C2.27009 26.3234 1.875 25.3696 1.875 24.375V11.25C1.875 10.2554 2.27009 9.30161 2.97335 8.59835C3.67661 7.89509 4.63044 7.5 5.625 7.5V9.375C5.12772 9.375 4.65081 9.57254 4.29917 9.92418C3.94754 10.2758 3.75 10.7527 3.75 11.25V24.375C3.75 24.8723 3.94754 25.3492 4.29917 25.7008C4.65081 26.0525 5.12772 26.25 5.625 26.25H18.75C19.2473 26.25 19.7242 26.0525 20.0758 25.7008C20.4275 25.3492 20.625 24.8723 20.625 24.375H22.5Z" fill="#96BDFF"/>
                <path d="M11.25 3.75C10.7527 3.75 10.2758 3.94754 9.92418 4.29917C9.57254 4.65081 9.375 5.12772 9.375 5.625V18.75C9.375 19.2473 9.57254 19.7242 9.92418 20.0758C10.2758 20.4275 10.7527 20.625 11.25 20.625H24.375C24.8723 20.625 25.3492 20.4275 25.7008 20.0758C26.0525 19.7242 26.25 19.2473 26.25 18.75V5.625C26.25 5.12772 26.0525 4.65081 25.7008 4.29917C25.3492 3.94754 24.8723 3.75 24.375 3.75H11.25ZM11.25 1.875H24.375C25.3696 1.875 26.3234 2.27009 27.0266 2.97335C27.7299 3.67661 28.125 4.63044 28.125 5.625V18.75C28.125 19.7446 27.7299 20.6984 27.0266 21.4016C26.3234 22.1049 25.3696 22.5 24.375 22.5H11.25C10.2554 22.5 9.30161 22.1049 8.59835 21.4016C7.89509 20.6984 7.5 19.7446 7.5 18.75V5.625C7.5 4.63044 7.89509 3.67661 8.59835 2.97335C9.30161 2.27009 10.2554 1.875 11.25 1.875Z" fill="#96BDFF"/>
              </svg>

          .donate-card
            .donate-card-text
              .yellow-title Ethereum
              #copy2.white-text 0x165cd37b4c644c2921454429e7f9358d18a45e14
            button(onclick="copy('#copy2')")
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 24.375C22.5 25.3696 22.1049 26.3234 21.4016 27.0266C20.6984 27.7299 19.7446 28.125 18.75 28.125H5.625C4.63044 28.125 3.67661 27.7299 2.97335 27.0266C2.27009 26.3234 1.875 25.3696 1.875 24.375V11.25C1.875 10.2554 2.27009 9.30161 2.97335 8.59835C3.67661 7.89509 4.63044 7.5 5.625 7.5V9.375C5.12772 9.375 4.65081 9.57254 4.29917 9.92418C3.94754 10.2758 3.75 10.7527 3.75 11.25V24.375C3.75 24.8723 3.94754 25.3492 4.29917 25.7008C4.65081 26.0525 5.12772 26.25 5.625 26.25H18.75C19.2473 26.25 19.7242 26.0525 20.0758 25.7008C20.4275 25.3492 20.625 24.8723 20.625 24.375H22.5Z" fill="#96BDFF"/>
                <path d="M11.25 3.75C10.7527 3.75 10.2758 3.94754 9.92418 4.29917C9.57254 4.65081 9.375 5.12772 9.375 5.625V18.75C9.375 19.2473 9.57254 19.7242 9.92418 20.0758C10.2758 20.4275 10.7527 20.625 11.25 20.625H24.375C24.8723 20.625 25.3492 20.4275 25.7008 20.0758C26.0525 19.7242 26.25 19.2473 26.25 18.75V5.625C26.25 5.12772 26.0525 4.65081 25.7008 4.29917C25.3492 3.94754 24.8723 3.75 24.375 3.75H11.25ZM11.25 1.875H24.375C25.3696 1.875 26.3234 2.27009 27.0266 2.97335C27.7299 3.67661 28.125 4.63044 28.125 5.625V18.75C28.125 19.7446 27.7299 20.6984 27.0266 21.4016C26.3234 22.1049 25.3696 22.5 24.375 22.5H11.25C10.2554 22.5 9.30161 22.1049 8.59835 21.4016C7.89509 20.6984 7.5 19.7446 7.5 18.75V5.625C7.5 4.63044 7.89509 3.67661 8.59835 2.97335C9.30161 2.27009 10.2554 1.875 11.25 1.875Z" fill="#96BDFF"/>
              </svg>
          .donate-card
            .donate-card-text
              .yellow-title Tether (TRC20)
              #copy3.white-text TEFccmfQ38cZS1DTZVhsxKVDckA8Y6VfCy
            button(onclick="copy('#copy3')")
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 24.375C22.5 25.3696 22.1049 26.3234 21.4016 27.0266C20.6984 27.7299 19.7446 28.125 18.75 28.125H5.625C4.63044 28.125 3.67661 27.7299 2.97335 27.0266C2.27009 26.3234 1.875 25.3696 1.875 24.375V11.25C1.875 10.2554 2.27009 9.30161 2.97335 8.59835C3.67661 7.89509 4.63044 7.5 5.625 7.5V9.375C5.12772 9.375 4.65081 9.57254 4.29917 9.92418C3.94754 10.2758 3.75 10.7527 3.75 11.25V24.375C3.75 24.8723 3.94754 25.3492 4.29917 25.7008C4.65081 26.0525 5.12772 26.25 5.625 26.25H18.75C19.2473 26.25 19.7242 26.0525 20.0758 25.7008C20.4275 25.3492 20.625 24.8723 20.625 24.375H22.5Z" fill="#96BDFF"/>
                <path d="M11.25 3.75C10.7527 3.75 10.2758 3.94754 9.92418 4.29917C9.57254 4.65081 9.375 5.12772 9.375 5.625V18.75C9.375 19.2473 9.57254 19.7242 9.92418 20.0758C10.2758 20.4275 10.7527 20.625 11.25 20.625H24.375C24.8723 20.625 25.3492 20.4275 25.7008 20.0758C26.0525 19.7242 26.25 19.2473 26.25 18.75V5.625C26.25 5.12772 26.0525 4.65081 25.7008 4.29917C25.3492 3.94754 24.8723 3.75 24.375 3.75H11.25ZM11.25 1.875H24.375C25.3696 1.875 26.3234 2.27009 27.0266 2.97335C27.7299 3.67661 28.125 4.63044 28.125 5.625V18.75C28.125 19.7446 27.7299 20.6984 27.0266 21.4016C26.3234 22.1049 25.3696 22.5 24.375 22.5H11.25C10.2554 22.5 9.30161 22.1049 8.59835 21.4016C7.89509 20.6984 7.5 19.7446 7.5 18.75V5.625C7.5 4.63044 7.89509 3.67661 8.59835 2.97335C9.30161 2.27009 10.2554 1.875 11.25 1.875Z" fill="#96BDFF"/>
              </svg>
        .col
          .donate-card
            .donate-card-text
              .yellow-title Polkadot
              #copy4.white-text 1x8aa2N2Ar9SQweJv9vsuZn3WYDHu7gMQu1RePjZuBe33Hv
            button(onclick="copy('#copy4')")
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 24.375C22.5 25.3696 22.1049 26.3234 21.4016 27.0266C20.6984 27.7299 19.7446 28.125 18.75 28.125H5.625C4.63044 28.125 3.67661 27.7299 2.97335 27.0266C2.27009 26.3234 1.875 25.3696 1.875 24.375V11.25C1.875 10.2554 2.27009 9.30161 2.97335 8.59835C3.67661 7.89509 4.63044 7.5 5.625 7.5V9.375C5.12772 9.375 4.65081 9.57254 4.29917 9.92418C3.94754 10.2758 3.75 10.7527 3.75 11.25V24.375C3.75 24.8723 3.94754 25.3492 4.29917 25.7008C4.65081 26.0525 5.12772 26.25 5.625 26.25H18.75C19.2473 26.25 19.7242 26.0525 20.0758 25.7008C20.4275 25.3492 20.625 24.8723 20.625 24.375H22.5Z" fill="#96BDFF"/>
                <path d="M11.25 3.75C10.7527 3.75 10.2758 3.94754 9.92418 4.29917C9.57254 4.65081 9.375 5.12772 9.375 5.625V18.75C9.375 19.2473 9.57254 19.7242 9.92418 20.0758C10.2758 20.4275 10.7527 20.625 11.25 20.625H24.375C24.8723 20.625 25.3492 20.4275 25.7008 20.0758C26.0525 19.7242 26.25 19.2473 26.25 18.75V5.625C26.25 5.12772 26.0525 4.65081 25.7008 4.29917C25.3492 3.94754 24.8723 3.75 24.375 3.75H11.25ZM11.25 1.875H24.375C25.3696 1.875 26.3234 2.27009 27.0266 2.97335C27.7299 3.67661 28.125 4.63044 28.125 5.625V18.75C28.125 19.7446 27.7299 20.6984 27.0266 21.4016C26.3234 22.1049 25.3696 22.5 24.375 22.5H11.25C10.2554 22.5 9.30161 22.1049 8.59835 21.4016C7.89509 20.6984 7.5 19.7446 7.5 18.75V5.625C7.5 4.63044 7.89509 3.67661 8.59835 2.97335C9.30161 2.27009 10.2554 1.875 11.25 1.875Z" fill="#96BDFF"/>
              </svg>
          .donate-card
            .donate-card-text
              .yellow-title Dogecoin
              #copy5.white-text DS76K9uJJzQjCFvAbpPGtFerp1qkJoeLwL
            button(onclick="copy('#copy5')")
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5 24.375C22.5 25.3696 22.1049 26.3234 21.4016 27.0266C20.6984 27.7299 19.7446 28.125 18.75 28.125H5.625C4.63044 28.125 3.67661 27.7299 2.97335 27.0266C2.27009 26.3234 1.875 25.3696 1.875 24.375V11.25C1.875 10.2554 2.27009 9.30161 2.97335 8.59835C3.67661 7.89509 4.63044 7.5 5.625 7.5V9.375C5.12772 9.375 4.65081 9.57254 4.29917 9.92418C3.94754 10.2758 3.75 10.7527 3.75 11.25V24.375C3.75 24.8723 3.94754 25.3492 4.29917 25.7008C4.65081 26.0525 5.12772 26.25 5.625 26.25H18.75C19.2473 26.25 19.7242 26.0525 20.0758 25.7008C20.4275 25.3492 20.625 24.8723 20.625 24.375H22.5Z" fill="#96BDFF"/>
                <path d="M11.25 3.75C10.7527 3.75 10.2758 3.94754 9.92418 4.29917C9.57254 4.65081 9.375 5.12772 9.375 5.625V18.75C9.375 19.2473 9.57254 19.7242 9.92418 20.0758C10.2758 20.4275 10.7527 20.625 11.25 20.625H24.375C24.8723 20.625 25.3492 20.4275 25.7008 20.0758C26.0525 19.7242 26.25 19.2473 26.25 18.75V5.625C26.25 5.12772 26.0525 4.65081 25.7008 4.29917C25.3492 3.94754 24.8723 3.75 24.375 3.75H11.25ZM11.25 1.875H24.375C25.3696 1.875 26.3234 2.27009 27.0266 2.97335C27.7299 3.67661 28.125 4.63044 28.125 5.625V18.75C28.125 19.7446 27.7299 20.6984 27.0266 21.4016C26.3234 22.1049 25.3696 22.5 24.375 22.5H11.25C10.2554 22.5 9.30161 22.1049 8.59835 21.4016C7.89509 20.6984 7.5 19.7446 7.5 18.75V5.625C7.5 4.63044 7.89509 3.67661 8.59835 2.97335C9.30161 2.27009 10.2554 1.875 11.25 1.875Z" fill="#96BDFF"/>
              </svg>
          .donate-card.donate-pay
            .donate-card-background
              .donate-card-pay
                <svg width="107" height="25" viewBox="0 0 107 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M61.1327 2.75954C60.9549 2.21749 60.7218 1.75757 60.2201 1.73703H60.1885H59.7697H58.9638C58.9282 1.73293 58.8887 1.72882 58.8492 1.72882H58.4462C58.4067 1.72882 58.3672 1.73293 58.3316 1.73703C57.9129 1.80274 57.7035 2.23802 57.5455 2.74722L51.3429 20.7622C51.3429 21.0003 51.5286 21.1933 51.7577 21.1933H53.0535C53.5671 21.1933 53.8318 20.7539 53.9859 20.2242L55.2225 16.4709C55.3094 16.2122 55.5425 16.0398 55.8072 16.0398H62.705C62.9658 16.0398 63.1989 16.2122 63.2858 16.4668L64.5737 20.2612C64.7317 20.7909 65.0083 21.2303 65.5456 21.2303H66.9007C67.1417 21.2303 67.3352 21.0373 67.3352 20.7991L61.1327 2.75954ZM56.0719 13.9085L59.2008 4.43086L62.4206 13.9085H56.0719Z" fill="white"/>
                  <path d="M79.2662 1.78633C79.1003 1.72063 78.1403 1.72884 78.1403 1.72884C77.4963 1.74527 77.0855 1.72884 76.7971 2.14359C76.7536 2.20519 76.722 2.27089 76.6904 2.3366L72.8464 10.9806L68.8878 2.3407C68.8562 2.275 68.8246 2.2093 68.7812 2.1477C68.4928 1.73295 68.0819 1.74527 67.4379 1.73295C67.4379 1.73295 66.4779 1.72474 66.312 1.79044C65.9169 1.94649 66.1777 2.45158 66.3633 2.86633L71.2187 12.9353C71.44 13.3952 71.5545 13.9003 71.5545 14.4136V20.4912C71.5545 20.9018 71.8745 21.2344 72.2696 21.2344H73.2849C73.68 21.2344 74 20.9018 74 20.4912V14.4424C74 13.9291 74.1146 13.424 74.3358 12.9641L79.2109 2.86222C79.4006 2.44747 79.6613 1.94238 79.2662 1.78633Z" fill="white"/>
                  <path d="M97.8266 11.1901L86.1721 1.04306C86.0852 0.969142 85.9587 0.973248 85.8797 1.05948L84.1572 2.92381L93.6744 11.1901L84.1572 19.4563L85.8797 21.3206C85.9587 21.4069 86.0852 21.411 86.1721 21.3371L97.8266 11.1901Z" fill="white"/>
                  <path d="M106.202 11.2722L94.5474 1.12521C94.4605 1.05129 94.3341 1.0554 94.2551 1.14164L92.5326 3.00596L102.05 11.2722L92.5326 19.5385L94.2551 21.4028C94.3341 21.489 94.4605 21.4931 94.5474 21.4192L106.202 11.2722Z" fill="white"/>
                  <path d="M15.0679 1.71655H13.5983C13.2901 1.71655 13.0452 1.97526 13.0452 2.29145V20.5856C13.0452 20.9183 13.3059 21.1934 13.6299 21.1934H15.0442C15.3642 21.1934 15.6289 20.9224 15.6289 20.5856V2.29556C15.625 1.97526 15.3761 1.71655 15.0679 1.71655Z" fill="white"/>
                  <path d="M9.80953 18.8732H3.24747V2.29554C3.24747 1.97524 2.99858 1.72064 2.69437 1.72064H1.3551C1.04694 1.72064 0.802002 1.97935 0.802002 2.29554V18.8773V20.3926C0.802002 20.7704 1.09435 21.0743 1.45781 21.0743H3.25142H9.81348C10.1295 21.0743 10.3824 20.8115 10.3824 20.483V19.4646C10.3784 19.1402 10.1216 18.8732 9.80953 18.8732Z" fill="white"/>
                  <path d="M49.419 2.79241C48.6012 2.21751 47.4713 1.81097 45.3103 1.81097H41.9008H41.1265C40.6287 1.81097 40.2218 2.22983 40.2218 2.75135V20.2284C40.2218 20.7622 40.6366 21.1975 41.1542 21.1975H41.8732C42.3868 21.1975 42.8055 20.7663 42.8055 20.2284V13.6622C43.5799 13.6622 46.2584 13.6622 46.5745 13.6622C46.9419 13.6622 51.659 12.8943 51.659 7.55588C51.655 5.23164 50.5093 3.56442 49.419 2.79241ZM45.7172 11.65C45.4722 11.65 43.09 11.65 43.09 11.65H42.8016V3.82313H44.8796C46.3058 3.82313 47.0525 4.09005 47.5937 4.47195C48.3167 4.98115 49.0713 6.08167 49.0713 7.61748C49.0753 11.1449 45.9621 11.65 45.7172 11.65Z" fill="white"/>
                  <path d="M37.8316 21.6286C37.7289 21.5506 37.6144 21.4931 37.4919 21.4439C36.52 21.0579 35.1017 20.0353 34.3116 19.5056C33.6992 19.095 33.7941 18.7706 33.877 18.6351C33.8928 18.6145 33.9126 18.5899 33.9284 18.5693C33.9323 18.5652 33.9323 18.5652 33.9323 18.5652C35.2756 16.8529 36.0538 14.4136 36.0538 11.3338C36.0538 5.88866 33.8138 1.47424 27.7337 1.47424C22.1396 1.47424 19.4531 5.88866 19.4531 11.3338C19.4531 16.7789 21.2586 21.4397 27.7337 21.4397C29.0493 21.4397 30.2582 21.1769 31.3209 20.6677H31.3249C31.637 20.5281 31.9412 20.5322 32.36 20.8484C35.3625 23.1603 36.8519 24.0104 37.9186 24.0104C38.4321 24.0104 38.3413 22.3678 38.3413 22.3678C38.3413 22.3678 38.2662 21.9531 37.8316 21.6286ZM22.108 11.3749C22.108 11.3625 22.108 11.3502 22.108 11.3338C22.1159 7.63801 23.4117 3.71636 27.7416 3.71636C32.6484 3.71636 33.399 7.63801 33.4029 11.3338C33.4029 11.3461 33.4029 11.3584 33.4029 11.3749C33.4029 15.7729 32.0321 19.1155 27.7416 19.1155C22.8151 19.1155 22.108 15.083 22.108 11.3749Z" fill="white"/>
                </svg>
                .google-apple-pay
                  <svg width="65" height="24" viewBox="0 0 65 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_435_2446)">
                      <path d="M30.7429 11.7248V18.76H28.3425V1.38624H34.7088C35.4687 1.37148 36.2242 1.49679 36.9318 1.75494C37.6393 2.01309 38.2849 2.39897 38.8312 2.89031C39.383 3.35182 39.8222 3.91781 40.1192 4.55024C40.4163 5.18267 40.5642 5.86689 40.5532 6.55692C40.569 7.25063 40.4233 7.93932 40.1261 8.57579C39.8289 9.21225 39.3872 9.78143 38.8312 10.2443C37.718 11.2313 36.3438 11.7244 34.7088 11.7234H30.7429V11.7248ZM30.7429 3.52521V9.59002H34.7684C35.2097 9.60218 35.6489 9.52857 36.0579 9.37389C36.4669 9.21921 36.8366 8.98687 37.1435 8.69173C37.4487 8.41578 37.6914 8.08572 37.8571 7.72107C38.0228 7.35641 38.1082 6.96457 38.1082 6.5687C38.1082 6.17284 38.0228 5.78099 37.8571 5.41634C37.6914 5.05168 37.4487 4.72162 37.1435 4.44567C36.8405 4.14431 36.472 3.90628 36.0625 3.74735C35.6531 3.58843 35.212 3.51223 34.7684 3.52382H30.7429V3.52521Z" fill="white"/>
                      <path d="M46.0845 6.48486C47.8588 6.48486 49.2592 6.92569 50.286 7.80734C51.3127 8.68899 51.8256 9.89779 51.8246 11.4337V18.76H49.5286V17.1104H49.4242C48.4303 18.4689 47.1083 19.1482 45.4584 19.1482C44.0499 19.1482 42.8716 18.76 41.9234 17.9837C41.4683 17.6274 41.1045 17.1812 40.8584 16.6776C40.6124 16.174 40.4903 15.6257 40.501 15.0726C40.501 13.8426 41.001 12.8643 42.0009 12.138C43.0008 11.4116 44.3357 11.0474 46.0055 11.0456C47.4309 11.0456 48.6047 11.2882 49.5271 11.7734V11.2632C49.5298 10.8862 49.4423 10.5133 49.2708 10.1717C49.0993 9.82999 48.8482 9.52809 48.5356 9.28784C47.9009 8.75536 47.0736 8.46482 46.2187 8.47412C44.8779 8.47412 43.8168 8.99997 43.0356 10.0517L40.9215 8.81375C42.0844 7.26116 43.8054 6.48486 46.0845 6.48486ZM42.9789 15.1211C42.9773 15.4052 43.0487 15.6855 43.1872 15.9387C43.3257 16.1919 43.5273 16.4106 43.7751 16.5767C44.306 16.965 44.9649 17.1707 45.6403 17.1589C46.6532 17.1573 47.6241 16.7825 48.3403 16.1165C49.1355 15.4206 49.5331 14.6041 49.5331 13.667C48.7846 13.1125 47.741 12.8352 46.4021 12.8352C45.427 12.8352 44.614 13.0538 43.963 13.4909C43.3055 13.9345 42.9789 14.4738 42.9789 15.1211Z" fill="white"/>
                      <path d="M65.0045 6.87299L56.9893 24H54.5114L57.4858 18.0073L52.2153 6.87299H54.8245L58.6338 15.4122H58.686L62.3909 6.87299H65.0045Z" fill="white"/>
                      <path d="M21.043 10.2083C21.0439 9.52813 20.9821 8.84916 20.8581 8.17883H10.7347V12.0229H16.533C16.4143 12.6368 16.1632 13.2221 15.7947 13.7434C15.4262 14.2646 14.9481 14.7112 14.389 15.056V17.5512H17.8494C19.8756 15.8143 21.043 13.2455 21.043 10.2083Z" fill="white"/>
                      <path d="M10.7347 19.9619C13.6316 19.9619 16.0707 19.0775 17.8494 17.5526L14.389 15.0574C13.4258 15.6645 12.1854 16.0111 10.7347 16.0111C7.93473 16.0111 5.55819 14.2561 4.70836 11.8912H1.14355V14.4627C2.03702 16.1157 3.40705 17.5054 5.10069 18.4764C6.79433 19.4475 8.74492 19.9618 10.7347 19.9619Z" fill="white"/>
                      <path d="M4.70835 11.8912C4.25908 10.6519 4.25908 9.30992 4.70835 8.07068V5.49921H1.14354C0.391928 6.88982 0.000488281 8.42459 0.000488281 9.98093C0.000488281 11.5373 0.391928 13.072 1.14354 14.4626L4.70835 11.8912Z" fill="white"/>
                      <path d="M10.7347 3.95077C12.2656 3.92752 13.7448 4.46531 14.8526 5.44791L17.9165 2.59919C15.9737 0.902532 13.3999 -0.02896 10.7347 -1.65438e-05C8.74492 6.77746e-05 6.79433 0.514355 5.10069 1.48543C3.40705 2.4565 2.03702 3.84614 1.14355 5.4992L4.70837 8.07068C5.55819 5.70575 7.93473 3.95077 10.7347 3.95077Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_435_2446">
                        <rect width="65" height="24" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  .white-text /
                  <svg width="62" height="26" viewBox="0 0 62 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_435_2438)">
                      <path d="M11.3344 3.35205C10.6078 4.23026 9.44529 4.92293 8.28279 4.82398C8.13748 3.63654 8.70662 2.37488 9.37263 1.59562C10.0992 0.692674 11.3707 0.0494767 12.4 0C12.5211 1.23692 12.0488 2.4491 11.3344 3.35205ZM12.3879 5.05899C10.7047 4.96004 9.26365 6.03616 8.46443 6.03616C7.6531 6.03616 6.43006 5.10847 5.09802 5.13321C3.36638 5.15794 1.75584 6.15985 0.871853 7.75547C-0.944554 10.9467 0.399587 15.6717 2.15545 18.2693C3.01521 19.5557 4.04451 20.9657 5.40076 20.9163C6.68435 20.8668 7.19295 20.0628 8.74295 20.0628C10.3051 20.0628 10.7531 20.9163 12.1094 20.8915C13.514 20.8668 14.398 19.6051 15.2578 18.3187C16.2386 16.8592 16.6383 15.4367 16.6625 15.3625C16.6383 15.3378 13.95 14.2864 13.9258 11.1199C13.9015 8.47288 16.0449 7.21123 16.1418 7.13701C14.9308 5.30638 13.0418 5.10847 12.3879 5.05899ZM22.1117 1.47193V20.7555H25.0422V14.1627H29.0988C32.8043 14.1627 35.4078 11.5652 35.4078 7.80495C35.4078 4.04472 32.8527 1.47193 29.1957 1.47193H22.1117ZM25.0422 3.99524H28.4207C30.9636 3.99524 32.4168 5.38059 32.4168 7.81732C32.4168 10.254 30.9636 11.6518 28.4086 11.6518H25.0422V3.99524ZM40.7601 20.9039C42.6008 20.9039 44.3082 19.9515 45.0832 18.4424H45.1437V20.7555H47.8562V11.157C47.8562 8.37393 45.6765 6.5804 42.3222 6.5804C39.2101 6.5804 36.9094 8.39867 36.8246 10.8972H39.4644C39.6824 9.7098 40.7601 8.93054 42.2375 8.93054C44.0297 8.93054 45.0347 9.78402 45.0347 11.3549V12.4186L41.3777 12.6413C37.975 12.8516 36.1343 14.274 36.1343 16.7479C36.1343 19.2464 38.0355 20.9039 40.7601 20.9039ZM41.5472 18.6156C39.9851 18.6156 38.9922 17.8487 38.9922 16.6736C38.9922 15.4615 39.9488 14.7564 41.7773 14.6451L45.0347 14.4348V15.5233C45.0347 17.3292 43.5332 18.6156 41.5472 18.6156ZM51.4769 26C54.3347 26 55.6789 24.8868 56.8535 21.51L62 6.76594H59.0211L55.5699 18.1579H55.5093L52.0582 6.76594H48.9945L53.9594 20.8049L53.6929 21.6584C53.2449 23.1056 52.5183 23.6622 51.2226 23.6622C50.9926 23.6622 50.5445 23.6375 50.3629 23.6127V25.9258C50.5324 25.9753 51.259 26 51.4769 26Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_435_2438">
                        <rect width="62" height="26" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
              a(href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi ").donate-btn.desktop
                span Donate
            a(href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi ").donate-btn.mobile
              span Donate


  .section-margin-bottom.footer-form.relative
    .row
      .section-9-img
        img(src="assets/images/footer/4.png").border-radius.mob-img1
      .section-9-img
        img(src="assets/images/footer/5.png").border-radius.mob-img2
    .row.field.mob-footer-margin
      .section-9-img
        img(src="assets/images/footer/6.png").border-radius.mob-img2
      .section-9-img
        img(src="assets/images/footer/7.png").border-radius.mob-img1
    .form
      img(src="assets/images/vector-4.svg").uk-pattern-5
      form(data-footer-contact autocomplete="off")
        .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
          input(type='text' name="name" placeholder="Назва організації").form-field__input
          //.form-field-message Назва організації
          .input-message(data-input-message)

        .form-field.form-field-input(data-field-input data-field-city data-status="field--inactive")
          input(type='text' name="city" placeholder="Місто знаходження").form-field__input
          //.form-field-message Місто знаходження
          .input-message(data-input-message)

        .form-field.form-field-input(data-field-input data-field-mail data-status="field--inactive")
          input(type='text' name="mail" placeholder="E-mail").form-field__input
          //.form-field-message E-mail
          .input-message(data-input-message)

        .form-checkbox__wrapper
          label.form-checkbox Я прочитав(-ла) і приймаю
            a(href="privacy.html").link Політика конфіденційності
            input(type="checkbox" checked="checked")
            span.checkmark

        button( type="submit" data-btn-submit).btn-style
          span(data-btn-submit-text).link__text.usn Приєднатися

  .section-margin-bottom.section-8
    .field
      .white-title FAQ
      .faq-cards-wrapper.row.mobile
        .swiper.swiper-2.relative
          .swiper-wrapper
            .swiper-slide.faq-card
              .fag-card-text.row
                .bold-text Як стати учасником волонтерського  бізнес-руху ReUkraine?
                <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
                </svg>
              .regular-text Заповни анкету на сайті
                a(href="http://www.reukraine.com").link http://www.reukraine.com
                | та отримай листа із детальною інформацією.

            .swiper-slide.faq-card
              .fag-card-text.row
                .bold-text Чому я маю приєднуватися до волонтерського бізнес-руху ReUkraine?
                <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
                </svg>
              .regular-text Заповни анкету на сайті та отримай листа із детальною інформацією.

            .swiper-slide.faq-card
              .fag-card-text.row
                .bold-text Як я можу допомогти команді ReUkraine?
                <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
                </svg>
              .regular-text Підтримуючи Україну за допомогою донатів, ти збільшуєш кількість лояльних клієнтів і формуєш імідж свідомого бізнесу.

            .swiper-slide.faq-card
              .fag-card-text.row
                .bold-text Де я можу побачити статистику переказів  на відновлення України?
                <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
                </svg>
              .regular-text На нашому сайті діє лічильник (Лінк). Звертаємо увагу, що ми наповнюємо лічильник даними на підставі отриманих скріншотів та копій квитанцій, що надсилають нам учасники на e-mail
                a(href="mailto:help@reukraine.com").link help@reukraine.com
                | Деякі суми можуть бути не враховані. Тож допомогайте ReUkraine більш повно відображати інформацію про перекази благодйних сум та своєчасно інформуйте нас.

            .swiper-slide.faq-card
              .fag-card-text.row
                .bold-text Коли на сайті з’явиться інформація про участь мого бізнеса у волонтерському русі?
                <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
                </svg>
              .regular-text Після першого отримання копії платіжної квитанції  на E-mail
                a(href="mailto:help@reukraine.com").link help@reukraine.com
                | ми розміщуємо інформацію про твій бренд на сайті ReUkraine.

            .swiper-slide.faq-card
              .fag-card-text.row
                .bold-text Як стати координатором ReUkraine?
                <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
                </svg>
              .regular-text Додавайся до нашої групи у Telegram
                a(href="https://t.me/reukraine_real").link https://t.me/reukraine_real.
                | Читай інструкції та залучай нових учасників до відновлення України.
          .swiper-pagination
      .faq-cards-wrapper.row.desktop
        .col
          .faq-card
            .fag-card-text.row
              .bold-text Як стати учасником волонтерського  бізнес-руху ReUkraine?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text Заповни анкету на сайті
              a(href="http://www.reukraine.com").link http://www.reukraine.com
              | та отримай листа із детальною інформацією.

          .faq-card
            .fag-card-text.row
              .bold-text Чому я маю приєднуватися до волонтерського бізнес-руху ReUkraine?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text Заповни анкету на сайті та отримай листа із детальною інформацією.

          .faq-card
            .fag-card-text.row
              .bold-text Як я можу допомогти команді ReUkraine?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text Підтримуючи Україну за допомогою донатів, ти збільшуєш кількість лояльних клієнтів і формуєш імідж свідомого бізнесу.

        .col
          .faq-card
            .fag-card-text.row
              .bold-text Де я можу побачити статистику переказів  на відновлення України?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text На нашому сайті діє лічильник (Лінк). Звертаємо увагу, що ми наповнюємо лічильник даними на підставі отриманих скріншотів та копій квитанцій, що надсилають нам учасники на e-mail
              a(href="mailto:help@reukraine.com").link help@reukraine.com
              | Деякі суми можуть бути не враховані. Тож допомогайте ReUkraine більш повно відображати інформацію про перекази благодйних сум та своєчасно інформуйте нас.

          .faq-card
            .fag-card-text.row
              .bold-text Коли на сайті з’явиться інформація про участь мого бізнеса у волонтерському русі?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text Після першого отримання копії платіжної квитанції  на E-mail
              a(href="mailto:help@reukraine.com").link help@reukraine.com
              | ми розміщуємо інформацію про твій бренд на сайті ReUkraine.

          .faq-card
            .fag-card-text.row
              .bold-text Як стати координатором ReUkraine?
              <svg class="faq-card-icon" width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.045 2.11505L1.87563 10.2844L0.713125 9.12567L9.4675 0.375049L10.6263 0.375049L19.375 9.12567L18.2144 10.2844L10.045 2.11505Z" fill="#6B9CF0"/>
              </svg>
            .regular-text Додавайся до нашої групи у Telegram
              a(href="https://t.me/reukraine_real").link https://t.me/reukraine_real.
              | Читай інструкції та залучай нових учасників до відновлення України.


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
