
extends ../layout/main
block variable
  -
    var title_page = 'privacy'
    var id_page = 'id-page-privacy'
    var class_page = 'class-page-privacy'


block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
block content
  .margin-top.field.section-margin-bottom
    h1.white-title Політика конфіденційності та захисту персональних даних

    .privacy-wrapper
      .privacy-block
        .privacy-block-title Розділ І. Загальні положення
        ul.privacy-block-list
          li 1. Web - сайт
            a(href="https://www.reukraine.com" class="link") reukraine.com (далі – Сайт)
            | належить на праві власності ТОВ "ЛАЙНС ПРАЙД", код ЄДРПОУ 39051712 ( далі – Компанія) . Всі об’єкти права інтелектуальної власності, які містяться на сайті, окрім випадків, коли про це окремо зазначено, належать на праві власності Компанії.
          li 2. Дана Політика Політики конфіденційності є комплексом правових, адміністративних , організаційних, технічних та інших заходів, які вживає Компанія з метою забезпечення конфіденційності та захисту персональних даних фізичних осіб - споживачів, які є користувачами  Сайту, окрім випадків, коли така інформація особисто та свідомо розголошується споживачем – користувачем Сайту.
          li 3. Метою впровадження Політики конфіденційності та захисту персональних даних є недопущення публічного доступу та розголошення інформації, володільцем якої є споживач.
          li 4. Компанія вживає всіх можливих заходів з метою забезпечення виконання заходів, передбачених даним розділом Політики конфіденційності.
      .privacy-block
        .privacy-block-title Розділ ІІ. Доступ до персональних даних
        ul.privacy-block-list
          li 1. З метою реалізації функцій та завдань Сайту та інших цілей, пов’язаних з цивільно- правовими відносинами між Компанією та споживачем, споживач, користуючись даним Сайтом та послугами, для надання яких створений Сайт, надає Компанії дозвіл на збирання, накопичення, обробку, зберігання та використання (в тому числі з використанням автоматизованих засобів)  персональних даних, власником яких він являється.
          li 2. Згода споживача, яка надається Компанії на збирання, обробку, зберігання та використання (в тому числі з використанням автоматизованих засобів)  персональних даних оформлюється шляхом проставлення споживачем відмітки про надання дозволу на збирання, накопичення, обробку, зберігання та використання своїх персональних даних.
          li 3. До персональних даних, на збирання, накопичення, обробку, зберігання та використання яких (в тому числі з використанням автоматизованих засобів) споживач надає дозвіл Компанії  входить:
            ul.second-level
              li 3.1 прізвище, ім’я;
              li 3.2 номери засобів зв’язку (телефон, e- mail та ін.);
              li 3.3 інформація про географічне розташування;
      .privacy-block
        .privacy-block-title Розділ ІІІ. Строк та місце зберігання Персональних даних
        ul.privacy-block-list
          li 1. Персональні дані, на збирання, накопичення, обробку, зберігання та використання яких споживач надає доступ Компанії зберігаються безстроково, якщо інше не встановлено законодавством України або волевиявленням споживача.
          li 2. Місце знаходження Компанії Україна, м. Київ, вул. Німанська, 2, 01103.
      .privacy-block
        .privacy-block-title Розділ IV. Права споживача
        ul.privacy-block-list
          li 1. Споживач, відносно власних персональних даних, які надаються для збирання, накопичення, обробку, зберігання та використання Компанії має право:
            ul.second-level
              li 1.1 Знати про джерела збирання, місцезнаходження своїх персональних даних, мету їх обробки, місцезнаходження Компанії;
              li 1.2 Отримувати інформацію про умови надання доступу до персональних даних;
              li 1.3 На доступ до своїх персональних даних;
              li 1.4 Отримувати інформацію стосовного того, чи обробляються його персональні дані;
              li 1.5 Пред’являти вмотивовану вимогу Компанії із запереченням проти обробки своїх персональних даних;
              li 1.6 Пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;
              li 1.7 На захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;
              li 1.8 Звертатися із скаргами на обробку своїх персональних даних до Уповноваженого Верховної Ради України з прав людини або до суду;
              li 1.9 Застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;
              li 1.10 Вносити застереження стосовно обмеження права на обробку своїх персональних даних під час надання згоди;
              li 1.11 Відкликати згоду на обробку персональних даних;
      .privacy-block
        .privacy-block-title Розділ IV. Права споживача
        ul.privacy-block-list
          li 1. Компанія звільняється від обов’язку дотримання Політики конфіденційності стосовно Персональних даних споживача у випадку, якщо споживач самостійно публічно розголошує персональні дані.
          li 2. Компанія має право поширювати персональні дані споживача у випадку якщо інформація, отримана зі складу персональних даних є суспільно необхідною, тобто є предметом суспільного інтересу, і право громадськості знати таку інформацію переважає потенційну шкоду від її поширення.
          li 3. Компанія має право поширювати персональні дані споживача з відповідного письмового дозволу споживача.

    a(href="index.html").btn-style
      span Повернутися на головну


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
