.page__inner {
  position: relative;
	display: flex;
	flex-direction: column;
	z-index: 2;
  min-height: 100vh;
	.page__content {
		flex-grow: 1;
	}
	.page__footer-wrapper {
		flex-shrink: 0;
	}
}

.btn--res{
  border: none;
  background-color: transparent;
}

.brd{
  border: 1px solid red;
}

.underline{
  position: relative;
  display: flex;
  color: #000;
  &::after{
    position: absolute;
    bottom: -2px;
    left: 0;
    display: flex;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: "";
  }
}

.wow:not(#some){
  opacity: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.js-input-focus:not(#some) {
  .main-form__text{
    transform: translateY(-110%);
  }
}
.js-no-valid:not(#some)+.main-form-content {
  svg{
    fill: red;
  }
}
.js-no-valid:not(#some){
  border-bottom: 1px solid red;
}
.overflow--hidden:not(#some){
  overflow: hidden;
  margin-right: 10px;
}
.icon-mouse {
  width: 34px;
  height: 52px;
  @include to(1440px) {
    width: 24px;
    height: 36px;
  }
  @include to(992px) {
    display: none;
  }
  &_position {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 30;
  }
  &_animation svg {
    animation: scroll 1s alternate ease-in-out infinite;
  }
  svg {
    height: 100%;
    width: 100%;
    fill: transparent;
    stroke: #FCFCFC;
  }
}

picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
}

@include to(768px) {
  .column{
    flex-direction: column;
  }

  .column-reverse {
    flex-direction: column-reverse;
  }
}

.field {
  padding-left: var(--field);
  padding-right: var(--field);
}

.left-field {
  padding-left: var(--field);
}

.section-margin-bottom {
  margin-bottom: var(--inner-block-margin);
}

.left-block30 {
  width: 30%;
  height: 100%;

  @include to(768px) {
    width: 100%;
  }
}

.right-block70 {
  width: 70%;
  height: 100%;

  @include to(768px) {
    width: 100%;
  }
}

.block50 {
  width: 50%;
  height: 100%;

  @include to(768px) {
    width: 100%;
  }
}

.grey-text {
  @include regular-font($grey, var(--default-font-7));
  max-width: 236px;
  text-align: left;
}

.light-grey-text {
  @include regular-font($light-grey, var(--default-font-4));
  text-align: left;
}

.white-text {
  @include regular-font($wc, var(--default-font-4));
  text-align: left;
}

.yellow-title {
  @include bold-font($mc2, var(--default-font-2));
  text-align: left;
}

.white-title {
  @include bold-font($wc, var(--default-font-2));
  text-align: left;
}

.border-radius {
  border-radius: 5px;
}

.section-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 90px;
  grid-row-gap: 80px;

  li {
    @include regular-font($mc, var(--default-font-3));
    border-left: 1px solid $mc;
    padding-left: 30px;

    .light-grey-text {
      margin-top: 60px;
      max-width: 85%;
    }
  }

  @include to(768px) {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 40px;

    li {
      padding-left: 20px;
      width: 50%;

      .light-grey-text {
        margin-top: 40px;
        max-width: 100%;
      }

      &:nth-child(even) {
        margin-left: auto;
      }
    }
  }
}

.relative {
  position: relative;
}

.donate-btn {
  height: 60px;
  background: $mc2;
  border-radius: 5px;
  text-align: center;
  padding: 0 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  span {
    @include regular-font($bc, var(--default-font-5));
    transition: color 0.3s ease-in-out;
  }

  @include from(1024px) {
    &:hover {
      span {
        color: $bc;
        transition: color 0.3s ease-in-out;
      }
    }
  }

  @include to(768px) {
    height: 50px;
  }
}

.btn-style {
  height: 60px;
  background: $mc;
  border-radius: 5px;
  text-align: center;
  padding: 0 22px;
  width: max-content;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 1;

  span {
    @include regular-font($wc, var(--default-font-5));
    transition: color 0.3s ease-in-out;
  }

  @include from(1024px) {
    &:hover {
      span {
        color: $bc;
        transition: color 0.3s ease-in-out;
      }
    }
  }

  @include to(768px) {
    height: 50px;
  }
}

.bold-text {
  @include bold-font($wc, var(--default-font-3));
  text-align: right;
  margin-bottom: 10px;

  @include to(768px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.regular-text {
  @include regular-font($wc, var(--default-font-6));
  text-align: right;

  @include to(768px) {
    text-align: left;
  }
}

.margin-top {
  margin-top: calc(var(--header-h) + 100px);

  @include to(768px) {
    margin-top: calc(var(--header-h) + 80px);
  }
}

.text-svg {
  margin: -7px .5em;

  @include to(768px) {
    height: 40px;
    width: 44px;
    margin: -7px .3em;
  }
}

.link {
  color: $mc!important;
}

.footer-form {
  .row {
    justify-content: space-between;
    align-items: flex-end;

    &:first-child {
      align-items: flex-start;

      @include to(768px) {
        align-items: center;
      }
    }

    .section-9-img {
      z-index: -1;
    }
  }

  .link {
    margin-left: 0.5em;
  }

  .form {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    background-image: url(../images/home/back/4.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(11px);
    border-radius: 5px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include to(768px) {
      background-image: url(../images/home/back/4-2.svg);
      padding: 35px 20px;
      height: 465px;
      width: 320px;
    }

    .btn-style {
      width: 100%;
      margin: 50px auto 0;
      border: 1px solid $mc;

      @include to(768px) {
        width: auto;
        margin-left: 0;
      }
    }
  }

  .uk-pattern-5 {
    margin-bottom: 40px;
  }
}

.margin30 {
  margin-right: 30px;

  @include to(768px) {
    margin-right: 20px;
  }
}
