$default-font: "e-Ukraine", sans-serif;
$default-font2: "e-Ukraine-bold", sans-serif;
$default-font3: "e-Ukraine-head", sans-serif;
$default-font4: "e-Ukraine-light", sans-serif;


$wc: #fff;
$bc: #121212;
$mc: #6B9CF0;
$mc2: #FFD801;
$grey: #8E8E8E;
$light-grey: #D1D1D1;



$light: #FCFCFC;
$dark: #1A2941;
$gold: #CFA46E;

:root {
  --default-font-1: 80px;
  --default-font-2: 60px;
  --default-font-3: 25px;
  --default-font-4: 20px;
  --default-font-5: 18px;
  --default-font-6: 16px;
  --default-font-7: 14px;

  --logo-w: 132px;
  --logo-h: 40px;

  --header-h: 100px;

  --field: 70px;

  --inner-block-margin: 200px;
}

@media screen and (max-width: 768px) {
  :root {
    --default-font-1: 50px;
    --default-font-2: 35px;
    --default-font-3: 18px;
    --default-font-4: 13px;

    --default-font-5: 16px;
    --default-font-6: 13px;
    --default-font-7: 13px;

    --logo-w: 87px;
    --logo-h: 26px;

    --header-h: 60px;

    --field: 20px;

    --inner-block-margin: 100px;
  }
}
