.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: var(--header-h);
  background: $bc;

  @include to(768px) {
    background: #000;
  }

  align-content: center;
  align-items: center;
  justify-content: space-between;

  &-menu-icon {
    display: none;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;

    @include to(768px) {
      display: flex;
    }
  }

  &-logo {
    img {
      height: var(--logo-h);
      width: var(--logo-w);
      object-fit: contain;
    }
  }

  &-nav {
    align-items: center;
    justify-content: space-between;

    li {
      margin-right: 105px;

      &:last-child {
        margin-right: 0;
      }

      a {
        @include regular-font($wc, var(--default-font-7));
        transition: color 0.3s ease-in-out;

        @include from(1024px) {
          &:hover {
            color: $mc;
            transition: color 0.3s ease-in-out;
          }
        }
      }
    }

    @include to(768px) {
      display: none;
    }
  }

  &-btn {
    border: 1px solid $mc2;
    background-color: transparent;
    border-radius: 5px;
    height: 60px;
    padding: 0 22px;
    width: max-content;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      @include regular-font($mc2, var(--default-font-6));
      text-align: center;
      transition: color 0.3s ease-in-out;
    }

    @include from(1024px) {
      &:hover {
        span {
          color: $wc;
          transition: color 0.3s ease-in-out;
        }
      }
    }

    @include to(768px) {
      height: 50px;
    }
  }

  &-btn.btn-desktop {
    @include to(768px) {
      display: none;
    }
  }

  .right-block70.row {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #20304D;

    @include to(768px) {
      justify-content: flex-end;
    }
  }

  .left-block30.row {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #20304D;
  }
}

.popup {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

  background: rgba(18, 18, 18, 0.8);

  @include to(640px) {
    height: 100%;
    min-height: -webkit-fill-available;
  }
}

.popup.active {
  opacity: 1;
  visibility: visible;
}
