.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: var(--header-h);
  background: $bc;

  @include to(640px) {
    background: #000;
  }

  align-content: center;
  align-items: center;
  justify-content: space-between;

  &-menu-icon {
    background: #C4C4C4;
    border-radius: 100%;
    height: 22px;
    width: 22px;

    @include from(640px) {
      display: none;
    }
  }

  &-logo {
    img {
      height: var(--logo-h);
      width: var(--logo-w);
      object-fit: contain;
    }
  }

  &-nav {
    align-items: center;
    justify-content: space-between;

    li {
      margin-right: 105px;

      &:last-child {
        margin-right: 0;
      }

      a {
        @include regular-font($wc, var(--default-font-7));
      }
    }

    @include to(640px) {
      display: none;
    }
  }

  &-btn {
    border: 1px solid $mc2;
    background-color: transparent;
    border-radius: 5px;
    width: 236px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    span {
      @include regular-font($mc2, var(--default-font-6));
    }
  }

  &-btn.desktop {
    @include to(640px) {
      display: none;
    }
  }

  .right-block70.row {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #20304D;

    @include to(640px) {
      justify-content: flex-end;
    }
  }

  .left-block30.row {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #20304D;
  }
}
