.header-menu {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

  background-color: #000000;

  @include to(640px) {
    height: 100%;
    min-height: -webkit-fill-available;
  }

  &-bottom {
    width: 100%;
  }

  &-wrapper {
    padding: 40px var(--field) 50px;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-close-icon {
    height: 40px;
    width: 40px;

    position: absolute;
    right: var(--field);
    top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      height: 4px;
      width: 40px;
      background: $wc;
      border-radius: 5px;

      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
        margin-top: -4px;
      }
    }
  }

  .grey-text {
    margin-bottom: 30px;
  }

  .header-btn {
    margin-bottom: 50px;
  }

  .social-network {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;

    li {
      margin-right: 0;
    }
  }
}

.header-big-logo {
  img {
    height: 45px;
    width: 150px;
    object-fit: contain;
  }
}

.header-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;

  li {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      @include regular-font($wc, 30px);
    }
  }
}

.header-menu.active {
  opacity: 1;
  visibility: visible;
}
